<h1>Recipe Finder!</h1>
<body>
<header>
  <div class="ingredients-img">
    <img src="http://www.culinaryinspo.com/wp-content/uploads/2014/09/Nicoise-Ingredients.jpg" alt="" />
  </div>
  <div class="about-page">

      <p>Welcome to Recipe Finder! The place where you can find all the recipes based on the ingredients you have available. You give us the ingredients and we will come up with the recipes!</p>

  </div>
</header>

<div id='enter-info'>Enter as many ingredients you wish. Just place a comma after each ingredient</div>
<div id="stock">

<form>
  <input id="items" name="items" type="text" placeholder="Items to use">
  <input type="submit">
</form>

</div>
<h3>Recipes</h3>
<div id="recipes-container">



  <ul id="recipes">
    <!--  recipe will be rendered -->
  </ul>

</div>
</body>

