<h1>What to Cook</h1>
<header>
  <div class="ingredients-img">
    <img src="http://www.culinaryinspo.com/wp-content/uploads/2014/09/Nicoise-Ingredients.jpg" alt="" />
  </div>
  <div class="about-page">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ut eveniet veritatis saepe dicta iure, doloremque neque, vero, non eligendi nam exercitationem expedita harum animi pariatur? Voluptas cumque vitae veritatis!</p>



  </div>
</header>
<div id="recipes-container">
  <h3>Recipes</h3>
  <ul id="recipes">
    <!--  recipe will be rendered -->
  </ul>

</div>
